<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Registration</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
	</head>
	
	
	<body ng-app="regApp">
	
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Registration</h1>
      </ion-header-bar>
		<ion-content>
		<div ng-controller="RegistrationCtrl">
		<form id='regForm' onsubmit=>
		
			<div class="list list-inset">
				<label class="item item-input item-floating-label ">
					<span class="input-label">Name</span>
					<input id="name" type="text" placeholder="Name" ng-model="newreg.name" required>
				</label>
				<br/>
				<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input id="email" type="text" placeholder="E-mail" ng-model="newreg.email" required>
				</label>
				<br/>
				<label class="item item-input item-floating-label">
					<span class="input-label">Password</span>
					<input id="password" type="password" placeholder="Password" ng-model="newreg.password" required>
				</label>
				<br/>
				<label class="item item-input item-floating-label">
					<span class="input-label ">Password Again</span>
					<input id="password_confirmation" type="password" placeholder="Confirm Your Password" ng-model="newreg.password_confirmation" required>
				</label>
				<br/>
				<label class="item checkbox">
					<span class="">Accept Licence Agreement</span>
					<input type="checkbox" ng-model="newreg.terms_accepted" required>
				</label>
				<br/>
			</div>
			<input type="submit" class="button button-big button-calm col-offset-50" ng-click="register()" value= "Register">
			
			</form  >
			</div>
			
		</ion-content>
    </ion-pane>
	</body>
</html>
