<ion-modal-view>
    <ion-header-bar class = "bar bar-header bar-positive">
      <h1 class="title"  >Licence Agreement</h1>
	  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
		<div class = "modal-body">
		  Hello!
		  <br/><br/>
		  This would be a very long and boring licence agreement if I had not finished it here..........
		  <br/><br/>
		  All rights reserved!
		</div>
    </ion-content>
</ion-modal-view>