<ion-modal-view>
    <ion-header-bar class = "bar bar-header bar-positive">
      <h1 class="title"  >Successful registration</h1>
	  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    </ion-content>
</ion-modal-view>